
<h1>Sign In: </h1><br>

<%= form_with(url: '/signin') do |f| %>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

   <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <br>
  <%= f.submit 'Sign In' %>

<% end %>
<br>
<%= button_to "Sign In With Google", '/auth/google_oauth2'%>
<br>
<%= link_to "Home", root_path(@user) %>