
<h2>
Job: 
<%= @job.title%>
<br>
</h2>
<h1>
Your Comment:
<%= @comment.comment_text %><br>
</h1>

<h3>Thanks for commenting <%= @user.username%>.
</h3>
<br>
<%= button_to "Delete Comment", comment_path(@comment), method: 'delete', remote: true %>
<br>
<%= link_to "Account", user_path(current_user)%>