<h1>Submitted Application: </h1>
<br>
Name: <%= @application.title %> 
<br>
Job Title: <%= @application.job.title %>
<br>
Years Of Experience: <%= @application.experience%>
<br>
Education: <%= @application.description %>
<br>
<%= link_to "Account", user_path(current_user)%>