
<h1>
Job:
<br>
<%= @job.title %> - <%= @job.description %><br>

</h1>
<br>
<%= link_to "Apply Here", new_job_application_path(@job) %>
<br>
<br>
<%= link_to "Comment on this job", new_job_comment_path(@job) %>
<br>
<br>
<%= link_to "Edit Job", edit_job_path(@job) %>
<br>
<br>
<%= button_to "Delete Job", job_path(@job), method: 'delete', remote: true %>
<br>
<br>
<%= link_to "Home", root_path(@user) %>