<h1>
<%= @user.first_name %><br>
<%= @user.email %><br>
</h1>
<br>
<%= link_to "Sign Out", user_path(@user) %>
<br>
<%= link_to "Edit User Account", edit_user_path(@user) %>
<br>
<%= link_to "Delete User Account", delete_user_path(@user)%>
<br>
<%= link_to "Home", root_path(@user) %>

