<% if logged_in? %>
<h1>Welcome, <%= current_user.username %>!</h1>
<% end%>
<h3>
Username: <%= @user.username %><br>
Email: <%= @user.email %><br>
</h3>

Jobs Applied For: <% @applications.each do |a| %>
<%= a.title%>
<br>
<% end %>
<br>
<%= link_to "Edit User Account", edit_user_path(@user) %>
<br>
<br>
<%= button_to "Sign Out", signout_path, method: 'delete', remote: true %>
<br>
<%= button_to "Delete User Account", user_path(@user), method: 'delete', remote: true %>
<br>
<h3><%= link_to "All Jobs", jobs_path(@job) %></h3>
<br>
<%= link_to "Home", root_path(@user) %>

