<!DOCTYPE html>
<html>
  <head>
    <title>Recruiting App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, skip_pipeline: true %>
   
    <div class="left-pic">
    <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/The-Best-Recruitment-Software-for-Agencies1.png"
      style= "width:50%;">
  </div>
  </head>
<% if flash[:message] %>
<div class="field_with_errors"><%= flash[:message]%></div>
<%end%>
  <body>
    <%= yield %>
  </body>
</html>
